<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ytTitle" value="Marienplatz (Munich) Timelapse " />
    <add key="ytDescription" value="Webcam used: http://stories.ludwigbeck.de/webcam | Source code: https://github.com/Fixxy/MunichTimelapse" />
    <add key="ytTags" value="Marienplatz,Timelapse,Munich,Munchen,Webcam"/>
  </appSettings>
</configuration>